<hr>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact page</title>


</head>

<body style="background-color:deeppink">



    <div class="container mb-3 py-4">


        <form method="POST" action="{% url 'contact' %}">
            <H1 class="text-center">ASSALAMUALAIKUM</H1>
            {% csrf_token %}
            <br>
            <div class="form-group">
                <label for="name"><big><big>name</big></big></label> <br>
                <input type="text" class="form-control" id="name" name="name" placeholder="enter your name">
            </div>
            <br>
            <div class="form-group">
                <label for="email"><big><big>email</big></big></label><br>
                <input type="text" class="form-control" id="email" name="email" placeholder="enter your email">
            </div>
            <br>
            <div class="form-group">
                <label for="phone"><big><big>phone</big></big></label><br>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="enter your phone">
            </div>
            <br>
            <div class="form-group">
                <label for="age"><big><big>age</big></big>  </label><br>
                <input type="text" class="form-control" id="age" name="age" placeholder="enter your age">
            </div>
            <br>
            <div class="form-group">
                <label for="date_of_birth"><big><big>date_of_birth</big></big></label><br>
                <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="enter your date_of_birth">
            </div>
            <br>
            <div class="form-group">
                <label for="disc"> <big><big>disc</big></big></label><br>
                <!-- <textarea name="disc" id="disc" cols="33" rows=2 "></textarea> -->
                <textarea name="disc " id="disc " cols="33 " rows="2 " "=" " style="width: 484px; height: 275px; "></textarea>
            </div>
            <br>
            <button class="btn btn-primary " type="submit " href="/index ">!!! SUBMITT HERE !!!</button>

        </form>

    </div>








    <hr>

    <h1><big><big><big><big><big>{{n}}</big></big>
        </big>
        </big>
        </big>
    </h1>
</body>

</html>